body{
    font-size: 14px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

main{
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 20px;
    border: 2px solid white;
}

p{
    margin-top: 5px;
}

h1{
    font-size: 20px;
    text-align: center;

}
h1,h2 {
    margin-top: 20px;
}

h2{
    font-size: 16px;
}

/*---------------------------Color titulo 1  y parrafo ----------------------------------------------*/
.part1 h2{
    color: blue;
}

.part1 p{
    color: coral;
}

/*---------------------------Color titulo 2  y parrafo ----------------------------------------------*/
.part2 h2{
    color: brown;
}

.part2 p{
    color:cornflowerblue;
}
/*---------------------------Color titulo 3  y parrafo ----------------------------------------------*/

.part3 h2{
    color: cadetblue;
}

.part3 p{
    color: darkgreen;
}
/*---------------------------Color titulo 4 y parrafo ----------------------------------------------*/

.part4 h2{
    color: chartreuse;
}

.part4 p{
    color: darkslateblue;
}
/*---------------------------------------------------------------------------------------*/