body{
    
    background-color: black;

}

.container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 300px;
    margin: 0 auto;
    color: white;
    border: 2px solid white;
}


.enviar{
    margin-top: 10px;
}

input{
    margin-top: 10px;
}

/*psuedo clase*/

input:valid{
    border: 2px solid green;
    outline: none;
    
}

input:focus:invalid{
    border: 2px solid red;
    outline: none;
}
