/*Globales*/

    h2{
        text-align: center;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        
    }

    h3{
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: white;
        margin-bottom: 10px;
    }

    
/*------------------------------Banner ------------------------------------------------------------*/

.container{
    margin: 0 auto;
    width: 960px;
}

.banner{
    position: relative;
    width: 960px;
    text-align: center;
    background-color: black;

}
.container-foto{
    
    height: 500px
}
.foto{
    width: 960px;
    height: 100%;
}
.banner-titulo{
    position: absolute;
    left: 310px;
    top: 50px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
}

.banner-descripcion{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 300px;
    height: 100px;
    background: rgba(114, 153, 254, 0.5);
border-radius: 10px;
}

.banner-descripcion p{
    padding-top: 15px;
    color: white;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
}
/*--------------------Fin Del Banner----------------------------------------------*/

/*-------------------------------about-------------------------------------------------------*/

.about{
    background-color: #7299FE;
    width: 960px;
    height: 424px;
    display: flex;
    flex-direction: column;
    
}
.container-about{
    margin: auto;
}

.about-descripcion{
    color: white;
    width: 872px;
    height: 318px;
    padding-left: 46px;
    margin-top: 30px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    
}

.boton-cv{   
    width: 187px;
    height: 62px;
    margin-top: 20px;
    outline: none;
    background: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Helvetica;
    color: white;
}

/*-------------------------------------------------------------------------------*/

/*-------------------------------------Skill-----------------------------------------*/

.skill{

    background-color: #9122FF;
    width: 960px;
    height: 424px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title-skill{
    margin-bottom: 30px;
}
.container-lenguaje{
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.barra-blanca{
    width: 300px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
}

.barra-azul{
    width: 50%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 10px;
}

.container-div{

    margin-left: 20px;
    margin-bottom: 20px;
}

/*----------------------------portafolio-----------------------------------------*/

.portafolio{
    background-color: yellow;
    height: 300px;
    text-align: center;
    
}

.titulo-portafolio{
    padding-top:30px;
    margin-bottom: 30px;
}

.container-portafolio{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
}

.figure{
    margin-right: 10px;
}


/*-----------------------------------------Clientes------------------------------*/


.clientes{
    background-color: #3F4E62;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}

.title-cliente{
    
}

.container-figure{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
}


/*-----------------------------------Contacto-----------------------------------------------------*/

.contacto{
    background-color: #1687A0;
    width: 960px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-contacto{
    margin-bottom: 30px;
}
.form{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
/*Imput propiedades------------------------------*/
.input{
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 1px solid #BFBFBF;
    
}
/*psuedo clase*/

input:valid{
    border: 2px solid green;
    outline: none;
    
    
}

input:focus:invalid{
    border: 2px solid red;
    outline: none;
    
}
/*---------------------------------------------------------*/

.textarea{
    margin-top: 10px;
    width: 420px;
    border: 1px solid #BFBFBF;
}

textarea:valid{
    border: 2px solid green;
    outline: none;
    
}

textarea:focus:invalid{
    border: 2px solid red;
    outline: none;
    
}

.btn-enviar{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    background-color: #233451;
    color: white;
}
/*-------------------------------Fin de la seccion contacto--------------------------------------*/