body{
    width:1000px;
    margin: 0px auto;
    
}

.contenedor-robot{
    width: 50%;
    height: 500px;
   
    
}

.cabeza{
    position: relative;
    background-color: grey;
    height: 30%;
    width: 40%;
    
}

.ojo-iz{
    position: absolute;
    left: 120px;
    bottom: 80px;
    background-color: red;
    height: 20%;
    width: 20%;
}
.ojo-de{
    position: absolute;
    right: 120px;
    bottom: 80px;
    background-color: red;
    height: 20%;
    width: 20%;
}

.boca{
    position: absolute;
    right: 50px;
    bottom: 30px;
    background-color: red;
    height: 20%;
    width: 50%;
}

.cuerpo{
    position: relative;
    background-color: blue;
    height: 200px;
    width: 250px;
    top: 150px;
    right: 25px;
    
}